body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
  background:inherit;
  background-color:rgba(226, 238, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E2EEFE;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
  display:flex;
  color:#E2EEFE;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:743px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:743px;
  display:flex;
}
#u130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:13px;
  width:30px;
  height:30px;
  display:flex;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:56px;
  background:inherit;
  background-color:rgba(226, 238, 254, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  -webkit-box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.3px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:581px;
  width:140px;
  height:56px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.3px;
}
#u132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u132_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 66, 178, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  -webkit-box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.3px;
}
#u132.mouseDown {
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:56px;
  background:inherit;
  background-color:rgba(226, 238, 254, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  -webkit-box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.3px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:581px;
  width:140px;
  height:56px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.3px;
}
#u133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
