body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:800px;
  background:inherit;
  background-color:rgba(152, 22, 84, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#981654;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:800px;
  display:flex;
  color:#981654;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#F3F3F3;
  text-align:justify;
  text-justify:inter-word;
  line-height:24px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:185px;
  width:260px;
  height:48px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#F3F3F3;
  text-align:justify;
  text-justify:inter-word;
  line-height:24px;
}
#u34 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:38px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#981654;
  text-align:left;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:267px;
  width:260px;
  height:38px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#981654;
  text-align:left;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u35_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:38px;
  background:inherit;
  background-color:rgba(183, 183, 183, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#981654;
  text-align:left;
}
#u35.selected {
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:38px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#981654;
  text-align:left;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:320px;
  width:260px;
  height:38px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#981654;
  text-align:left;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u36_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:38px;
  background:inherit;
  background-color:rgba(183, 183, 183, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#981654;
  text-align:left;
}
#u36.selected {
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:38px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#981654;
  text-align:left;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:372px;
  width:260px;
  height:38px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#981654;
  text-align:left;
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u37_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:38px;
  background:inherit;
  background-color:rgba(183, 183, 183, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#981654;
  text-align:left;
}
#u37.selected {
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito Bold", "Nunito", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#F3F3F3;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:68px;
  width:260px;
  height:60px;
  display:flex;
  font-family:"Nunito Bold", "Nunito", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#F3F3F3;
}
#u38 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:711px;
  width:44px;
  height:44px;
  display:flex;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:711px;
  width:44px;
  height:44px;
  display:flex;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
