body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:379px;
}
#u220_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:379px;
  overflow:hidden;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:758px;
  width:50px;
  height:50px;
  display:flex;
}
#u221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:720px;
}
#u222_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:720px;
  overflow:hidden;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:36px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:808px;
  width:390px;
  height:36px;
  display:flex;
}
#u223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:758px;
  width:50px;
  height:50px;
  display:flex;
}
#u224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
