body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
  background:inherit;
  background-color:rgba(226, 238, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E2EEFE;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
  display:flex;
  color:#E2EEFE;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:743px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:743px;
  display:flex;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:13px;
  width:30px;
  height:30px;
  display:flex;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:56px;
  background:inherit;
  background-color:rgba(226, 238, 254, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  -webkit-box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.3px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:581px;
  width:140px;
  height:56px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.3px;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 66, 178, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  -webkit-box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.3px;
}
#u107.mouseDown {
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:56px;
  background:inherit;
  background-color:rgba(226, 238, 254, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  -webkit-box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  box-shadow:2px 2px 6px rgba(170, 170, 170, 1);
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.3px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:581px;
  width:140px;
  height:56px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.3px;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
