body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:150px;
  background:inherit;
  background-color:rgba(98, 133, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6285AE;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:150px;
  display:flex;
  color:#6285AE;
}
#u181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito Bold", "Nunito", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  letter-spacing:0.5px;
  color:#FFFCFC;
  text-align:center;
  line-height:32px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:31px;
  width:288px;
  height:96px;
  display:flex;
  font-family:"Nunito Bold", "Nunito", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  letter-spacing:0.5px;
  color:#FFFCFC;
  text-align:center;
  line-height:32px;
}
#u182 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:619px;
  width:260px;
  height:18px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u183 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:659px;
  width:50px;
  height:50px;
  display:flex;
}
#u184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6285AE;
  text-align:justify;
  text-justify:inter-word;
  line-height:24px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:176px;
  width:304px;
  height:48px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6285AE;
  text-align:justify;
  text-justify:inter-word;
  line-height:24px;
}
#u185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:239px;
  width:60px;
  height:60px;
  display:flex;
}
#u186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u186_img.selected {
}
#u186.selected {
}
#u186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:239px;
  width:60px;
  height:60px;
  display:flex;
}
#u187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u187_img.selected {
}
#u187.selected {
}
#u187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:239px;
  width:60px;
  height:60px;
  display:flex;
}
#u188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u188_img.selected {
}
#u188.selected {
}
#u188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6285AE;
  text-align:justify;
  text-justify:inter-word;
  line-height:24px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:336px;
  width:304px;
  height:48px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6285AE;
  text-align:justify;
  text-justify:inter-word;
  line-height:24px;
}
#u189 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:398px;
  width:60px;
  height:60px;
  display:flex;
}
#u190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u190_img.selected {
}
#u190.selected {
}
#u190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:398px;
  width:60px;
  height:60px;
  display:flex;
}
#u191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u191_img.selected {
}
#u191.selected {
}
#u191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:398px;
  width:60px;
  height:60px;
  display:flex;
}
#u192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u192_img.selected {
}
#u192.selected {
}
#u192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:804px;
  width:390px;
  height:40px;
  display:flex;
}
#u193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6285AE;
  text-align:justify;
  text-justify:inter-word;
  line-height:24px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:499px;
  width:304px;
  height:24px;
  display:flex;
  font-family:"Nunito", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6285AE;
  text-align:justify;
  text-justify:inter-word;
  line-height:24px;
}
#u194 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:537px;
  width:60px;
  height:60px;
  display:flex;
}
#u195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u195_img.selected {
}
#u195.selected {
}
#u195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:537px;
  width:60px;
  height:60px;
  display:flex;
}
#u196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u196_img.selected {
}
#u196.selected {
}
#u196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:537px;
  width:60px;
  height:60px;
  display:flex;
}
#u197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u197_img.selected {
}
#u197.selected {
}
#u197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:659px;
  width:50px;
  height:50px;
  display:flex;
}
#u198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
